# how 'for loop' work with string

In [1]:
name = "sanju"
for letter in name:
    print(letter)

s
a
n
j
u

# how 'for loop' work with numbers

In [2]:
#range function takes 3 arguments that is start,end-1,stride(increment or decrement)
n = int(input())
for i in range(n):  
    print(i)

5
0
1
2
3
4

In [3]:
n = int(input())
for i in range(1,n):
    print(i)

5
1
2
3
4

In [4]:
n = int(input())
for i in range(3,n,2):
    print(i)

5
3

# print numbers in reverse

In [5]:
n = int(input())
for i in range(n,1,-2):
    print(i)

9
9
7
5
3

# print multiple of 3

In [5]:
#a<b and printing multiples of 3 starting from a to b
a = int(input())
b = int(input())
if(a%3==0):
    s=a
elif(a%3==1):
    s=a+2
else:
    s=a+1

for i in range(s,b+1,3):
    print(i,end=" ")

2
20
3 6 9 12 15 18

# Terms of AP

In [7]:
n=int(input())
a=0
for i in range(1,n+1):
    a=a+1
    b=3*a+2
    if(b%4==0):
        a=a+1
        b=3*a+2
        print(b,end=" ")
    else:
        print(b,end=" ")

10
5 11 14 17 23 26 29 35 38 41

# IsPrime

In [8]:
n=int(input())
flag=False
for a in range(2,n,1):
    if n%a==0:
        flag=True
        break
if flag:
    print("not prime")
else:
    print("prime")

12345
not prime

# pattern

In [2]:
n=int(input())
for i in range(1,n+1,1):
    for s in range(n-i):
        print(" ",end="")
    for j in range(i,2*i,1):
        print(j,end="")
    for j in range(2*i-2,i-1,-1):
        print(j,end="")
    print()

4
   1
  232
 34543
4567654

# sum or product

In [7]:
n=int(input())
c=int(input())
if(c==1):
    print(int((n*(n+1))/2))
elif(c==2):
    p = 1
    for i in range(1,n+1):
        p = p*i
    print(p)
else:
    print(-1)

10
4
-1

# prime numbers from 1 to n

In [10]:
n=int(input())
k = 2
while(k<=n):
    d=2
    flag = False
    while(d<k):
        if(k%d==0):
            flag=True
            break
        d=d+1
    if(not(flag)):
        print(k)
    k=k+1

50
2
3
5
7
11
13
17
19
23
29
31
37
41
43
47

# square root(integral)

In [15]:
n=int(input())
square_root=(n)**(1/2)
print(int(float(square_root)))

10
3