tuples are immutable,
tuples does not support item assignment, delete values, add values

In [1]:
a=(1,2)
a

(1, 2)

In [2]:
type(a)

tuple

In [3]:
b,c=2,3
print(b)
print(c)

e=5,6
print(e)
print(type(e))

2
3
(5, 6)
<class 'tuple'>

In [5]:
e[1]

6

In [7]:
f=(1,2,3,4,5,6)
f[3:]

(4, 5, 6)

In [9]:
del f

In [11]:
a = 5,6,7
print(a[1:])

(6, 7)

In [13]:
a = (1,2,3)
b = 4,5

In [14]:
for i in a:
    print(i)

1
2
3

In [15]:
for i in b:
    print(i)

4
5

In [17]:
#membership that is element is in that tuple or not
1 in a

True

In [18]:
1 in b

False

In [19]:
len(a)

3

In [20]:
#concatenations
c=a+b

In [21]:
c

(1, 2, 3, 4, 5)

In [22]:
d = (a,b)

In [23]:
d

((1, 2, 3), (4, 5))

In [24]:
#repetition
e = a*4
e

(1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3)

In [25]:
min(a)

1

In [26]:
max(a)

3

In [28]:
a2 = (1,2.5,'s',(1,2))
a2

(1, 2.5, 's', (1, 2))

In [29]:
#list to tuple
l = [1,2,3,4]
tuple(l)

(1, 2, 3, 4)

# variable length input and output

In [1]:
def sum(a,b,c=0,d=0,e=0):
    return a+b+c+d+e
sum(1,2,3,4)

10

In [2]:
def sum2(a,b,*more):
    print(a)
    print(b)
    print(more)

In [3]:
sum2(2,3,4,5,6,7,8)

2
3
(4, 5, 6, 7, 8)

In [4]:
def sum2(a,b,*more):
    print(a)
    print(b)
    print(type(more))
    ans=a+b
    for i in more:
        ans=ans+i
    return ans

In [5]:
sum2(2,3,4,5,6,7,8,9,10)

2
3
<class 'tuple'>

54

In [6]:
def sum_diff(a,b):
    return a+b,a-b

In [7]:
c=sum_diff(4,1)
c

(5, 3)

In [8]:
d,e = sum_diff(4,1)
print(d)
print(e)

5
3